* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #f2f0ef;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #161513;
}

.rectangle {
    height: 1px;
    left: 0%;
    right: 0%;
    top: 24px;
    background: #131416;
    border-radius: 0px;
}

.link:hover {
    color: #b18835;
    transition: all 0.3s;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 74px;
    color: #161513;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#my_photo {
    height: 300px;
    border-radius: 150px;
    background-color: #f2f0ef;
    gap: 20px;
}

.about {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #161513;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#up-buttom {
    display: flex;
    justify-content: center;
}

footer {
    background: #161513;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #F2F1EF;
    margin-top: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}